
extends layout.pug

block nav
  // Navigation
  nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header.page-scroll
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          |                     Menu
          i.fa.fa-bars
        a.navbar-brand(href='../') Blog de Malo
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='../') Home
          if session.username
            li
              a(href='../user/form') Poster un article
            li
              a(href='../user/logout') Log out
          else
            li
              a(href='../login') Login
            li
              a(href='../signup') Sign-up

      // /.navbar-collapse
    // /.container



block head
  header.intro-header(style="background-image: url('https://source.unsplash.com/collection/584172')")
    .container-fluid(style="background-color: rgba(41, 170, 227, 0.5);")
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .site-heading
            if session.username
              h1#yo #{session.username}
            else
              h1 welcome on the blog
            hr.small
            span.subheading Clean Blog Fully Powered by JavaScript





block content
  .container
    .row
    each post in posts
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .post-preview
          .img-container
            a(href='/article/' + post._id)
              img.img-responsive.img-rounded(src='https://source.unsplash.com/random', alt='')
              h2.post-title= post.titre
            span.articleDate
              i.fa.fa-calendar-check-o(aria-hidden='true')
              | #{post.date.getDay()}/#{post.date.getMonth()}/#{post.date.getFullYear()}
            a.articleAuthor(href='#')
              i.fa.fa-user-circle(aria-hidden='true')
              | #{post.auteur}
          .post-subtitle
            |!{post.contenue.split(" ").slice(0,51).join(" ")}
        hr


block foot
  .form-group.col-xs-12
  button.btn.btn-default(onclick='goNext();', type='submit') Next Artices
  .loader
